.embla {
  max-width: 1440px;
  --slide-height: auto;
  --slide-spacing: 44px;
  --slide-size: auto; 
  margin-left: auto;
  margin-right: auto;
  &__viewport {
    overflow: hidden;
  }
  &__container {
    display: flex;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  &__slide {
    flex: 0 0 var(--slide-size); 
    min-width: 411px;
    padding-left: var(--slide-spacing);
    box-sizing: border-box; 
    img {
      width: 411px;
    }
  }
}
.modal-image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out; 
  max-width: 1000px; 
  max-height: 100%;
  img {
    width: 1000px; 
    max-height: 100%; 
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .embla {
    --slide-spacing: 20px;
    &__viewport {
      overflow: hidden;
    }
    &__slide {
      min-width: 212px;
      img {
        width: 212px;
      }
    }
  }
  .modal-image-container img {
    width: 662px;
  }
}

@media (max-width: 320px) {
  .embla {
    --slide-spacing: 10px;
    &__viewport {
      overflow: hidden;
    }
    &__slide {
      min-width: 92px;
      img {
        width: 92px;
      }
    }
  }
  .modal-image-container img {
    width: 320px; 
  }
}
