
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    &__container{
        margin-top: 60px;
        color: white;
        display: grid;
        grid-template-columns: 336px 245px 31px;
        grid-template-rows: 250px;
        justify-content: space-between;
        margin-left: 60px;
        margin-right: 59px;

        &_box{
            &_top{
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            &_bottom{
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
        &_order{
            button{
                margin-left: -100px;
                border: none;
                background-color: rgb(44, 41, 140, 0.6) ;
                width: 245px;
                height: 245px;
                border-radius: 200px;
                color: white;


                h2{
                    text-decoration: none;
                }
            }
            
        }
        &--icons{
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}


@media (max-width: 768px) {
    .footer{
        margin-top: 50px;
        margin-bottom: 20px;
        &__container{
            margin-top: 16px;
            color: white;
            display: grid;
            grid-template-columns: 336px 245px 31px;
            grid-template-rows: 250px;
            justify-content: space-between;
            margin-left: 60px;
            margin-right: 59px;

            &_box{
                &_top{
                    margin-top: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                &_bottom{
                    margin-top: 60px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
            &_order{
                button{
                    margin-top: 40px;
                    margin-left: -50px;
                    border: none;
                    background-color: rgb(44, 41, 140, 0.6) ;
                    width: 123px;
                    height: 123px;
                    border-radius: 200px;
                    color: white;


                    h2{
                        text-decoration: none;
                        font-size: 16px;
                    }
                }
                
            }
            &--icons{
                align-self: center;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}


@media (max-width: 320px) {
    .footer{
        margin-top: 50px;
        margin-bottom: 25px;

        hr{
            margin-left: -10px;
            width: 320px;
            margin-bottom: 0;
        }
        &__container{
            margin-top: 0px;
            color: white;
            display: grid;
            grid-template-columns: 56px 90px 31px;
            grid-template-rows: 139px;
            justify-content: space-between;
            margin-left: 0px;
            margin-right: 0px;

            &_box{
                &_top{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                &_bottom{
                    width: 175px;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
            &_order{
                button{
                    margin-top: 12px;
                    margin-left: 0px;
                    border: none;
                    background-color: rgb(44, 41, 140, 0.6) ;
                    width: 90px;
                    height: 84px;
                    border-radius: 200px;
                    color: white;


                    h2{
                        font-size: 10px;
                        text-decoration: none;
                    }
                }
                
            }
            &--icons{
                align-self: center;
                display: flex;
                flex-direction: column;
                gap: 8px;

                img{
                    width: 15px;
                }
            }
        }
    }
}